<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free&Need</title>
</head>
<body>

<nav style="background-color: #F0F5F9">
    <div class="container-fluid backdrop">
        <div class="menu">
            <div class="tab-menu">
                <a th:href="@{/}" id="tab1" class="btn">Home</a>
                <a th:href="@{/Need}" id="tab2" class="btn">Need</a>
                <a th:href="@{/Free}" id="tab3" class="btn">Free</a>
            </div>
        </div>
    </div>
</nav>


<h1>Home Page</h1>
</body>
</html>