<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free&Need</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<nav style="background-color: #afacac">
    <div class="container-fluid backdrop">
        <div class="menu">
            <div class="tab-menu">
                <a th:href="@{/}" id="tab1" class="btn">Home</a>
                <a th:href="@{/Need}" id="tab2" class="btn">Need</a>
                <a th:href="@{/Free}" id="tab3" class="btn">Free</a>
            </div>
        </div>
    </div>
</nav>

<div class="card main-body">
    <!--Title-->

    <div class="card title-card">
        <h1>Home Page</h1>
    </div>
    <!--text field-->
<div style="display: flex">
        <div class="card text-card">
            <p>cjndfow wdsjfnowdfm ndsoxdnkfcmks enwofnkwe wsnfnw wskodfno oweknfoned ewbnfonw wonfon wjnwwd k enwssonf deknc ksnwocvnw swnvoweobve sdjvnoen ekdrvbone kndsondfdn dkjndosnv nownsd nwonfc eonvone oinbnvc webnfcfow ownv wow onc eb eo eb v eoe beoiveov ownovnew o n oe eovo oenovnev eonvon oennv oem r r envone oenv r oe vkone eonvon eofjv ev veonvnoe oenvo veonvo3n voenveonj erfr fj fvn rrvneo fj.</p>
        </div>
        <!--Image Scroller-->
        <div class="card image-card">
            <img src="/img/hands.png">
        </div>
</div>
</div>

</body>
</html>